<div class="container-fluid container-green">
  <div class="ibu-calculator-result py-5">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
        <h1>98<small>IBU</small></h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
          <mat-select required [(value)]="formulaType">
            <mat-option value="ti-formula">Tinseth</mat-option>
            <mat-option value="da-formula">Daniels</mat-option>
            <mat-option value="ra-formula">Rager</mat-option>
          </mat-select>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="ibu-calculator-container">
    <form>
      <div class="row mt-3">
        <div class="col-7">
          <mat-form-field>
            <mat-label>Batch Size</mat-label>
            <input type="number" matInput >
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field
              [floatLabel]="true">
            <mat-select [(value)]="systemUnitBatch">
              <mat-option value="me-system">gallons</mat-option>
              <mat-option value="us-system">liters</mat-option>
            </mat-select>
            <mat-placeholder>Units</mat-placeholder>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Target Original Gravity (OG)</mat-label>
            <input type="number" matInput >
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="ibu-divider"></div>
  </div>
</div>
<div class="container">
  <div class="ibu-calculator-container">
    <form>
      <div class="row mt-3">
        <div class="col-7">
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input type="number" matInput >
            </mat-form-field>
        </div>
        <div class="col-5">
            <mat-form-field
                [floatLabel]="true">
              <mat-select [(value)]="systemUnit">
                <mat-option value="me-system">onces</mat-option>
                <mat-option value="us-system">grams</mat-option>
              </mat-select>
              <mat-placeholder>Units</mat-placeholder>
            </mat-form-field> 
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <mat-form-field>
              <mat-label>Alpha Acids %</mat-label>
              <input type="number" matInput >
            </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <mat-form-field>
              <mat-label>Boil Time</mat-label>
              <input type="number" matInput >
            </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <mat-form-field
                [floatLabel]="true">
              <mat-select [(value)]="hopType">
                <mat-option value="pe-type">Pellets</mat-option>
                <mat-option value="wh-type">Whole/Plug</mat-option>
              </mat-select>
              <mat-placeholder>Type</mat-placeholder>
            </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
            <button type="button" mat-fab>
              <mat-icon>add</mat-icon>
            </button>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="container-fluid container-green">
    <div class="row no-gutters ibu-single">
      <div class="col col-num">
        <small>1</small>
      </div>
      <div class="col col-3">
        <h4>1<small>oz.</small></h4>
      </div>
      <div class="col col-2">
        <h4>14%</h4>
      </div>
      <div class="col col-2">
        <h4>60<small>min</small></h4>
      </div>
      <div class="col col-2">
        <h4>54<small>IBU</small></h4>
      </div>
      <div class="col text-right">
        <button class="btn btn-link">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
</div>