/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$ibu-calculator-app-primary: mat-palette($mat-light-green, 400, A200, A700);
$ibu-calculator-app-accent:  mat-palette($mat-amber, 500, A200, 600);

// The warn palette is optional (defaults to red).
$ibu-calculator-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ibu-calculator-app-theme: mat-light-theme($ibu-calculator-app-primary, $ibu-calculator-app-accent, $ibu-calculator-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ibu-calculator-app-theme);
